@bg: #F5F5F5;

@btn-height: 100px;
@theme: #f24c38;
@theme-sub: #f46d49;
@color-33: #333333;
@color-66: #666666;
@color-99: #999999;

@space-10: 10px;
@space-20: 20px;
@space-30: 30px;
@space-40: 40px;
@space-50: 50px;
@space-60: 60px;
@space-70: 70px;


@border: 0.5PX solid #ddd;


.btn {
  display: inline-block;
  background: @theme;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  position: relative;
  &:active::after {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    content: " ";
    display: block;
    background: rgba(0, 0, 0, .3);
  }
}
